@media(prefers-color-scheme: dark){
	:root, .__fb-light-mode {
			--fds-black: #000;
			--fds-black-alpha-05: #0000000d;
			--fds-black-alpha-10: #0000001a;
			--fds-black-alpha-15: #00000026;
			--fds-black-alpha-20: #0003;
			--fds-black-alpha-30: #0000004d;
			--fds-black-alpha-40: #0006;
			--fds-black-alpha-50: #00000080;
			--fds-black-alpha-60: #0009;
			--fds-black-alpha-80: #000c;
			--fds-blue-05: #000;
			--fds-blue-30: #000;
			--fds-blue-40: #000;
			--fds-blue-60: #000;
			--fds-blue-70: #000;
			--fds-blue-80: #000;
			--fds-button-text: #000;
			--fds-comment-background: #000;
			--fds-dark-mode-gray-35: #000;
			--fds-dark-mode-gray-50: #000;
			--fds-dark-mode-gray-70: #000;
			--fds-dark-mode-gray-80: #000;
			--fds-dark-mode-gray-90: #000;
			--fds-dark-mode-gray-100: #000;
			--fds-dark-ui-wash: #000;
			--fds-gray-00: #000;
			--fds-gray-05: #000;
			--fds-gray-10: #000;
			--fds-gray-20: #000;
			--fds-gray-25: #000;
			--fds-gray-30: #000;
			--fds-gray-45: #000;
			--fds-gray-70: #000;
			--fds-gray-80: #000;
			--fds-gray-90: #000;
			--fds-gray-100: #000;
			--fds-green-55: #000;
			--fds-highlight: #000;
			--fds-highlight-cell-background: #000;
			--fds-primary-icon: #fff;
			--fds-primary-text: #fff;
			--fds-red-55: #000;
			--fds-soft: cubic-bezier(.08,.52,.52,1);
			--fds-spectrum-aluminum-tint-70: #000;
			--fds-spectrum-blue-gray-dark-1: #000;
			--fds-spectrum-blue-gray-tint-70: #000;
			--fds-spectrum-cherry: #000;
			--fds-spectrum-cherry-tint-70: #000;
			--fds-spectrum-grape-tint-70: #000;
			--fds-spectrum-grape-tint-90: #000;
			--fds-spectrum-lemon-dark-1: #000;
			--fds-spectrum-lemon-tint-70: #000;
			--fds-spectrum-lime: #000;
			--fds-spectrum-lime-tint-70: #000;
			--fds-spectrum-orange-tint-70: #000;
			--fds-spectrum-orange-tint-90: #000;
			--fds-spectrum-seafoam-tint-70: #000;
			--fds-spectrum-slate-dark-2: #000;
			--fds-spectrum-slate-tint-50: #000;
			--fds-spectrum-slate-tint-70: #000;
			--fds-spectrum-teal: #000;
			--fds-spectrum-teal-dark-1: #000;
			--fds-spectrum-teal-dark-2: #000;
			--fds-spectrum-teal-tint-70: #000;
			--fds-spectrum-teal-tint-90: #000;
			--fds-spectrum-tomato: #000;
			--fds-spectrum-tomato-tint-30: #000;
			--fds-spectrum-tomato-tint-90: #000;
			--fds-strong: cubic-bezier(.12,.8,.32,1);
			--fds-white: #000;
			--fds-white-alpha-05: #ffffff0d;
			--fds-white-alpha-10: #ffffff1a;
			--fds-white-alpha-20: #fff3;
			--fds-white-alpha-30: #ffffff4d;
			--fds-white-alpha-40: #fff6;
			--fds-white-alpha-50: #ffffff80;
			--fds-white-alpha-60: #fff9;
			--fds-white-alpha-80: #fffc;
			--fds-yellow-20: #000;
			--accent: #2e89ff;
			--always-white: #fff;
			--always-black: #000;
			--always-dark-gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
			--always-dark-overlay: #0006;
			--always-light-overlay: #fff6;
			--always-gray-40: #65676B;
			--always-gray-75: #BCC0C4;
			--always-gray-95: #F0F2F5;
			--attachment-footer-background: #ffffff1a;
			--base-blue: #1877F2;
			--base-cherry: #F3425F;
			--base-grape: #9360F7;
			--base-lemon: #F7B928;
			--base-lime: #45BD62;
			--base-pink: #FF66BF;
			--base-seafoam: #54C7EC;
			--base-teal: #2ABBA7;
			--base-tomato: #FB724B;
			--blue-link: #4599FF;
			--card-background: #242526;
			--card-background-flat: #323436;
			--comment-background: #3A3B3C;
			--comment-footer-background: #4E4F50;
			--dataviz-primary-1: #30c8b4;
			--disabled-button-background: #fff3;
			--disabled-button-text: #ffffff4d;
			--disabled-icon: #ffffff4d;
			--disabled-text: #ffffff4d;
			--divider: #3E4042;
			--event-date: #F3425F;
			--filter-accent: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
			--filter-always-white: invert(100%);
			--filter-disabled-icon: invert(100%) opacity(30%);
			--filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
			--filter-primary-icon: invert(89%) sepia(6%) hue-rotate(185deg);
			--filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
			--filter-warning-icon: invert(77%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(128%) hue-rotate(359deg) brightness(102%) contrast(107%);
			--filter-blue-link-icon: invert(73%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(103.25%) hue-rotate(189deg) brightness(101%) contrast(101%);
			--filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
			--filter-negative: invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%);
			--glimmer-spinner-icon: #fff;
			--hero-banner-background: #E85D07;
			--hosted-view-selected-state: #2d88ff1a;
			--highlight-bg: #1877f24f;
			--hover-overlay: #ffffff1a;
			--media-hover: #44495026;
			--media-inner-border: #ffffff0d;
			--media-outer-border: #33363A;
			--media-pressed: #44495059;
			--messenger-card-background: #242526;
			--messenger-reply-background: #18191A;
			--overlay-alpha-80: #0b0b0bcc;
			--overlay-on-media: #0009;
			--nav-bar-background: #242526;
			--nav-bar-background-gradient: linear-gradient(to top, #242526, rgba(36,37,38,.9), rgba(36,37,38,.7), rgba(36,37,38,.4), rgba(36,37,38,0));
			--nav-bar-background-gradient-wash: linear-gradient(to top, #18191A, rgba(24,25,26,.9), rgba(24,25,26,.7), rgba(24,25,26,.4), rgba(24,25,26,0));
			--negative: #f0284a;
			--negative-background: hsl(350, 87%, 55%, 20%);
			--new-notification-background: #E7F3FF;
			--non-media-pressed: #44495026;
			--non-media-pressed-on-dark: #ffffff4d;
			--notification-badge: #F02849;
			--placeholder-icon: #8A8D91;
			--placeholder-text: #8A8D91;
			--placeholder-text-on-media: #ffffff80;
			--popover-background: #3E4042;
			--positive: #31A24C;
			--positive-background: #1F3520;
			--press-overlay: #ffffff1a;
			--primary-button-background: #2D88FF;
			--primary-button-background-experiment: #2374E1;
			--primary-button-pressed: #77A7FF;
			--primary-button-text: #FFF;
			--primary-deemphasized-button-background: #2d88ff33;
			--primary-deemphasized-button-pressed: #1877f233;
			--primary-deemphasized-button-pressed-overlay: #196eff26;
			--primary-deemphasized-button-text: #2D88FF;
			--primary-icon: #E4E6EB;
			--primary-text: #E4E6EB;
			--primary-text-on-media: #fff;
			--primary-web-focus-indicator: #D24294;
			--progress-ring-neutral-background: #fff3;
			--progress-ring-neutral-foreground: #fff;
			--progress-ring-on-media-background: #fff3;
			--progress-ring-on-media-foreground: #FFF;
			--progress-ring-blue-background: #2d88ff33;
			--progress-ring-blue-foreground: #2e89ff;
			--progress-ring-disabled-background: #7a7d8233;
			--progress-ring-disabled-foreground: #7A7D82;
			--scroll-thumb: #ffffff4d;
			--scroll-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(255, 255, 255, 0.05) inset;
			--secondary-button-background: #ffffff1a;
			--secondary-button-background-floating: #4B4C4F;
			--secondary-button-background-on-dark: #fff6;
			--secondary-button-pressed: #0000000d;
			--secondary-button-stroke: transparent;
			--secondary-button-text: #E4E6EB;
			--secondary-icon: #B0B3B8;
			--secondary-text: #B0B3B8;
			--secondary-text-on-media: #ffffffe6;
			--section-header-text: #BCC0C4;
			--shadow-1: #0000001a;
			--shadow-2: #0003;
			--shadow-5: #00000080;
			--shadow-8: #000c;
			--shadow-inset: #ffffff0d;
			--surface-background: #242526;
			--text-highlight: #1877f273;
			--toggle-active-background: #2d88ff;
			--toggle-active-icon: #FFF;
			--toggle-active-text: #FFF;
			--toggle-button-active-background: #E6F2FF;
			--wash: #3E4042;
			--web-wash: #18191A;
			--warning: #f2a918;
			--fb-logo-color: #2D88FF;
			--header-height: 56px;
			--button-corner-radius: 6px;
			--card-corner-radius: 8px;
			--fds-animation-enter-exit-in: cubic-bezier(0.14, 1, 0.34, 1);
			--fds-animation-enter-exit-out: cubic-bezier(0.45, 0.1, 0.2, 1);
			--fds-animation-swap-shuffle-in: cubic-bezier(0.14, 1, 0.34, 1);
			--fds-animation-swap-shuffle-out: cubic-bezier(0.45, 0.1, 0.2, 1);
			--fds-animation-move-in: cubic-bezier(0.17, 0.17, 0, 1);
			--fds-animation-move-out: cubic-bezier(0.17, 0.17, 0, 1);
			--fds-animation-expand-collapse-in: cubic-bezier(0.17, 0.17, 0, 1);
			--fds-animation-expand-collapse-out: cubic-bezier(0.17, 0.17, 0, 1);
			--fds-animation-passive-move-in: cubic-bezier(0.5, 0, 0.1, 1);
			--fds-animation-passive-move-out: cubic-bezier(0.5, 0, 0.1, 1);
			--fds-animation-quick-move-in: cubic-bezier(0.1, 0.9, 0.2, 1);
			--fds-animation-quick-move-out: cubic-bezier(0.1, 0.9, 0.2, 1);
			--fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
			--fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
			--fds-duration-extra-extra-short-in: 100ms;
			--fds-duration-extra-extra-short-out: 100ms;
			--fds-duration-extra-short-in: 200ms;
			--fds-duration-extra-short-out: 150ms;
			--fds-duration-short-in: 280ms;
			--fds-duration-short-out: 200ms;
			--fds-duration-medium-in: 400ms;
			--fds-duration-medium-out: 350ms;
			--fds-duration-long-in: 500ms;
			--fds-duration-long-out: 350ms;
			--fds-duration-extra-long-in: 1000ms;
			--fds-duration-extra-long-out: 1000ms;
			--fds-duration-none: 0ms;
			--fds-fast: 200ms;
			--fds-slow: 400ms;
			--font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
			--font-family-default: Helvetica, Arial, sans-serif;
			--font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
			--dataviz-primary-2: #86daff;
			--dataviz-primary-3: #5faaff;
			--dataviz-secondary-1: #814de7;
			--dataviz-secondary-2: #a87cff;
			--dataviz-secondary-3: #db1a8b;
			--dataviz-supplementary-1: #ff7a69;
			--dataviz-supplementary-2: #f1a817;
			--dataviz-supplementary-3: #31a24c;
			--dataviz-supplementary-4: #e4e6eb;
	}
}
